<form [formGroup]="Userform" (ngSubmit)="onSubmit()">
  <label for="actualPassword">Mot de passe actuel :</label>
  <input id="actualPassword" type="password" formControlName="actualPassword" />
  <div *ngIf="Userform.controls['actualPassword'].touched && Userform.controls['actualPassword'].errors">
    <div *ngIf="Userform.controls['actualPassword'].errors['required']">Le mot de passe actuel est requis.</div>
  </div>

  <label for="password">Nouveau mot de passe :</label>
  <input id="password" type="password" formControlName="password" />
  <div *ngIf="Userform.controls['password'].touched && Userform.controls['password'].errors">
    <div *ngIf="Userform.controls['password'].errors['required']">Le nouveau mot de passe est requis.</div>
  </div>
  <br />

  <label for="confirmPassword">Confirmer le nouveau mot de passe :</label>
  <input
    id="confirmPassword"
    type="password"
    formControlName="confirmPassword"
  />
  <div *ngIf="Userform.controls['confirmPassword'].touched && Userform.controls['confirmPassword'].errors">
    <div *ngIf="Userform.controls['confirmPassword'].errors['required']">La confirmation du nouveau mot de passe est requise.</div>
  </div>
  <br />

  <button type="submit" class="btn btn-primary">Envoyer</button>
  <br />
</form>

<p></p>
