<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css"
/>
<form [formGroup]="Userform" (ngSubmit)="onSubmit()">
  <label for="Nom">Nom : </label>
  <input id="Nom" type="text" formControlName="Nom" />
  <br />

  <label for="Prenom">Prénom : </label>
  <input id="Prenom" type="text" formControlName="Prenom" />
  <div
    *ngIf="
      Userform.get('Prenom')!.invalid &&
      (Userform.get('Prenom')!.dirty || Userform.get('Prenom')!.touched)
    "
  >
    <div *ngIf="Userform.get('Prenom')!.errors?.['required']">
      Prenom is required.
    </div>
  </div>
  <div
    *ngIf="
      Userform.get('Nom')!.invalid &&
      (Userform.get('Nom')!.dirty || Userform.get('Nom')!.touched)
    "
  >
    <div *ngIf="Userform.get('Nom')!.errors?.['required']">
      Nom is required.
    </div>
  </div>
  <div
    *ngIf="
      Userform.get('Mail')!.invalid &&
      (Userform.get('Mail')!.dirty || Userform.get('Mail')!.touched)
    "
  >
    <div *ngIf="Userform.get('Mail')!.errors?.['required']">
      Mail is required.
    </div>
  </div>

  <br />

  <label for="Mail">Mail : </label>
  <input id="Mail" type="text" formControlName="Mail" />
  <br />

  <label for="Ecole">Ecole : </label>
  <input id="Ecole" type="text" formControlName="Ecole" />
  <br />

  <label for="Role">Role : </label>
  <input id="Role" type="text" formControlName="Role" />

  <label for="Password">Mot de passe :</label>
  <input id="Password" type="password" formControlName="Password" />
  <label for="ConfirmPassword">Confirmer le mot de passe :</label>
  <input
    id="ConfirmPassword"
    type="password"
    formControlName="ConfirmPassword"
  />
  <br />

  <button type="submit" class="btn btn-primary">Envoyer</button>
  <br />
</form>
<p></p>
