<nav>
    <div>
        <ul>
            <li routerLinkActive="active"><a (click)="goToHome()">Accueil</a></li>
            <li routerLinkActive="active"><a routerLink="">Gestion de l'inventaire</a></li>
            <li routerLinkActive="active"><a routerLink="#">Réservation de matériel</a></li>
            <li routerLinkActive="active"><a routerLink="#">Réservation de salle</a></li>
            <li routerLinkActive="active"><a routerLink="#">Gestion des utilisateurs</a></li>
        </ul>
    </div>
</nav>