<form [formGroup]="Userform" (ngSubmit)="onSubmit()">
  <label for="lastname">Nom : </label>
  <input id="lastname" type="text" formControlName="lastname" />
  <div *ngIf="Userform.controls['lastname'].touched && Userform.controls['lastname'].errors">
    <div *ngIf="Userform.controls['lastname'].errors['required']">Le nom est requis.</div>
  </div>
  <br />

  <label for="firstname">Prénom : </label>
  <input id="firstname" type="text" formControlName="firstname" />
  <div *ngIf="Userform.controls['firstname'].touched && Userform.controls['firstname'].errors">
    <div *ngIf="Userform.controls['firstname'].errors['required']">Le prénom est requis.</div>
  </div>
  <br />

  <label for="mail">Mail : </label>
  <input id="mail" type="text" formControlName="mail" />
  <div *ngIf="Userform.controls['mail'].touched && Userform.controls['mail'].errors">
    <div *ngIf="Userform.controls['mail'].errors['required']">L'email est requise.</div>
  </div>
  <br />

  <label for="ecole">Ecole : </label>
  <input id="ecole" type="text" formControlName="ecole" />
  <div *ngIf="Userform.controls['ecole'].touched && Userform.controls['ecole'].errors">
    <div *ngIf="Userform.controls['ecole'].errors['required']">L'école est requise.</div>
  </div>
  <br />

  <label for="role">Role : </label>
  <input id="=role" type="text" formControlName="role" />
  <div *ngIf="Userform.controls['role'].touched && Userform.controls['role'].errors">
    <div *ngIf="Userform.controls['role'].errors['required']">Le rôle est requis.</div>
  </div>

  <label for="password">Mot de passe :</label>
  <input id="password" type="password" formControlName="password" />
  <div *ngIf="Userform.controls['password'].touched && Userform.controls['password'].errors">
    <div *ngIf="Userform.controls['password'].errors['required']">Le mot de passe est requis.</div>
  </div>

  <label for="confirmPassword">Confirmer le mot de passe :</label>
  <input
    id="confirmPassword"
    type="password"
    formControlName="confirmPassword"
  />
  <div *ngIf="Userform.controls['confirmPassword'].touched && Userform.controls['confirmPassword'].errors">
    <div *ngIf="Userform.controls['confirmPassword'].errors['required']">La confirmation de mot de passe est requise.</div>
  </div>
  <br />

  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
