<form [formGroup]="Userform" (ngSubmit)="onSubmit()">
  <label for="actualPassword">Mot de passe actuel :</label>
  <input id="actualPassword" type="password" formControlName="actualPassword" />

  <label for="Password">Nouveau mot de passe :</label>
  <input id="Password" type="password" formControlName="Password" />

  <br />

  <label for="ConfirmPassword">Confirmer le nouveau mot de passe :</label>
  <input
    id="ConfirmPassword"
    type="password"
    formControlName="ConfirmPassword"
  />

  <br />

  <button type="submit" class="btn btn-primary">Envoyer</button>
  <br />
</form>

<p></p>
