<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css"
/>

<form [formGroup]="Userform" (ngSubmit)="onSubmit()">
  <label for="Password">Mot de passe :</label>
  <input id="Password" type="password" formControlName="Password" />

  <br />

  <label for="ConfirmPassword">Confirmer le mot de passe :</label>
  <input
    id="ConfirmPassword"
    type="password"
    formControlName="ConfirmPassword"
  />

  <br />

  <button type="submit" class="btn btn-primary">Envoyer</button>
  <br />
</form>

<p></p>
