<form [formGroup]="Userform" (ngSubmit)="onSubmit()">
  <label for="Nom">Nom : </label>
  <input id="Nom" type="text" formControlName="Nom"/>
  <div *ngIf="Userform.controls['Nom'].touched && Userform.controls['Nom'].errors">
    <div *ngIf="Userform.controls['Nom'].errors['required']">Le nom est requis.</div>
  </div>
  <br />

  <label for="Prenom">Prénom : </label>
  <input id="Prenom" type="text" formControlName="Prenom" />
  <div *ngIf="Userform.controls['Prenom'].touched && Userform.controls['Prenom'].errors">
    <div *ngIf="Userform.controls['Prenom'].errors['required']">Le prénom est requis.</div>
  </div>
  <br />

  <label for="Mail">Mail : </label>
  <input id="Mail" type="text" formControlName="Mail" />
  <div *ngIf="Userform.controls['Mail'].touched && Userform.controls['Mail'].errors">
    <div *ngIf="Userform.controls['Mail'].errors['required']">L'email est requise.</div>
  </div>
  <br />

  <label for="Ecole">Ecole : </label>
  <input id="Ecole" type="text" formControlName="Ecole" />
  <div *ngIf="Userform.controls['Ecole'].touched && Userform.controls['Ecole'].errors">
    <div *ngIf="Userform.controls['Ecole'].errors['required']">L'école est requise.</div>
  </div>
  <br />

  <label for="Role">Role : </label>
  <input id="Role" type="text" formControlName="Role" />
  <div *ngIf="Userform.controls['Role'].touched && Userform.controls['Role'].errors">
    <div *ngIf="Userform.controls['Role'].errors['required']">Le rôle est requis.</div>
  </div>

  <label for="Password">Mot de passe :</label>
  <input id="Password" type="password" formControlName="Password" />
  <div *ngIf="Userform.controls['Password'].touched && Userform.controls['Password'].errors">
    <div *ngIf="Userform.controls['Password'].errors['required']">Le mot de passe est requis.</div>
  </div>
  
  <label for="ConfirmPassword">Confirmer le mot de passe :</label>
  <input
    id="ConfirmPassword"
    type="password"
    formControlName="ConfirmPassword"
  />
  <div *ngIf="Userform.controls['ConfirmPassword'].touched && Userform.controls['ConfirmPassword'].errors">
    <div *ngIf="Userform.controls['ConfirmPassword'].errors['required']">La confirmation de mot de passe est requise.</div>
  </div>
  <br />

  <button type="submit" class="btn btn-primary">Envoyer</button>
  <br />
</form>
