<h1>
    Bienvenue sur l'Application de Gestion d'Inventaire et de
    Réservation de Matériel Informatique de l'IPI
</h1>

<p>
    Cette application offre une solution centralisée pour la gestion de l'inventaire
    et la réservation du matériel informatique de l'école. Vous pouvez réaliser des
    opérations CRUD sur la liste du matériel informatique, réserver du matériel en fonction
    de la disponibilité, gérer les réservations d'office pour des classes spécifiques,et
    plus encore.
</p>
<p>
    Cette application est conçue pour être intuitive et efficace, offrant une visibilité
    claire sur la disponibilité du matériel et des salles, et facilitant l'accès à la
    documentation du matériel en intégrant des informations externes via une API.
</p>
<p>Ce projet s'adresse à l'ensemble de la communauté étudiante de l'école IPI.</p>